priv8hng_sisvali_launcher\priv8hng_sisvali_launcher\obj
priv8hng_sisvali_launcher\priv8hng_sisvali_launcher\bin\Debug

priv8hng_sisvali_launcher/priv8hng_sisvali_launcher/obj
priv8hng_sisvali_launcher/priv8hng_sisvali_launcher/bin\Debug
